@model ENTIDAD.Proyecto

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>

<form id="frmProyecto" action="@Url.Action("Editar", "Proyecto")" method="post">
    
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Proyecto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProyectoId)

        <div class="form-group">
            <label class="control-label col-md-2">Nombre Proyecto</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="NombreProyecto" id="NombreProyecto" value="@Model.NombreProyecto" />
                @Html.ValidationMessageFor(model => model.NombreProyecto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Fecha Inicio</label>
            <div class="col-md-10">
                <input type="date" class="form-control" name="FechaInicio" id="FechaInicio" value="@Model.FechaInicio.ToString("yyyy-MM-dd")" />
                @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Fecha Fin</label>
            <div class="col-md-10">
                <input type="date" class="form-control" name="FechaFin" id="FechaFin" value="@Model.FechaFin.ToString("yyyy-MM-dd")" />
                @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
 
</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $("#frmProyecto").submit(function (event) {
        event.preventDefault();
        var nombre = $("#NombreProyecto").val();
        var fechaInicio = $("#FechaInicio").val();
        var fechaFin = $("#FechaFin").val();

        if ($.trim(nombre) == "") {
            alert("Debe ingresar un nombre");
            return;
        }

        if (fechaInicio == "" || fechaFin == "") {
            alert("Debe Ingresar las fechas");
            return;
        }

        if (ValidarFecha(fechaInicio, fechaFin) == false) {
            alert("La fecha fin no puede ser menor a la fecha inicio");
            return;
        }

        var post_url = $(this).attr("action");
        var request_method = $(this).attr("method");
        var form_data = $(this).serializeArray();

        LoadingOverlayShow("#frmProyecto")
        $.ajax({
            url: post_url,
            type: request_method,
            data: form_data
        }).done(function (response) {
            console.log(response);
            LoadingOverlayHide("#frmProyecto")
            if (response.ok) {
                alert("Proyecto creado correctamente.");
                window.location = response.toRedirect;
            } else {
                alert(response.msg);
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            LoadingOverlayHide("#frmProyecto")
            console.error(errorThrown);
        });
    });
</script>
}
